body {
	background-image: linear-gradient(to bottom, #d16002, #420d09);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
#napistop {
	font-family: arial;
	margin: 30px;
	border: 15px outset #ff4d00;
	background-color: #ff6902;
	border-radius: 67px;
	text-align: center;
}
#sekcja {
	background-color: #ffffff;
	margin: 40px;
	border-radius: 67px;
	padding: 15px;
	text-align: center;
	font-family: arial;
	margin-right: 100px;
	margin-left: 100px;
}
#mid {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
<
@media only screen and (max-width: 1200px) {
	#napistop {border-radius: 60px; font-size: 15px}
	#sekcja {margin-left: 40px; margin-right: 40px; font-size: 18px}
	.button {font-size: 20px}
}
@media only screen and (max-width: 600px) {
	#napistop {border-radius: 30px; font-size: 10px}
	#sekcja {margin-left: 15px; margin-right: 15px; font-size: 12px}
	.button {font-size: 15px}
}
@media only screen and (max-width: 300px) {
	#napistop {border-radius: 5px; font-size: 10px}
	#sekcja {margin-left: 5px; margin-right: 5px; font-size: 8px}
	.button {font-size: 8px}
}
